@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
  font-family: Arial, sans-serif;

  background-color: violet;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 10px;
}

form > div > label {
  margin-right: 10px;
}

button {
  align-self: flex-start;
}
/* Field.css */
.field-container {
  margin-bottom: 10px;
}


